<p id="notice"><%= notice %></p>
<div class="card text-center" style="width:500px;margin-left:425px;">
  <div class="card-header">
    Tweeters
  </div>
  <% @tweeters.each do |tweeter| %>
    <div class="card-body">
      <h5 class="card-title"><%= tweeter.content %></h5>
      <%= link_to 'Show', tweeter,class:"btn btn-primary" %>
      <%= link_to 'Edit', edit_tweeter_path(tweeter), class:"btn btn-success" %>
      <%= link_to 'Destroy', tweeter,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <div class="card-footer text-muted">
    <%= link_to 'New Tweeter', new_tweeter_path, class:"btn btn-warning" %>
  </div>
</div><br><br>
